.avatar-org {
    height: 50px;
    border: 1px solid #d3d3d3;
    border-radius: 50%;
}

.nome-org {
    align-items:  center;
    display:  flex;
    padding-left: 10px;

    p {
        font-weight: 500;
        font-size: 18px;
    }
}